@page
@model Asp.netCore_Palma_RealState.Pages.all_estateModel
@{
}
@if (Model.t_estate_model.Any())
{
    <div class="products row">
        @foreach (var item in Model.t_estate_model)
        {
            <div class="col-lg-4 col-md-6 col-12">
                <a asp-page="estate_detail" asp-route-Id="@item.ID_estate">
                    <div class="product-card">
                        <div class="image">
                            <img src="~/image/Estates/@item.image" alt="product1">
                        </div>
                        <div class="card-body">
                            <p class="d-flex justify-content-between">
                                <span> @item.tittle </span>
                                <span> @item.metrage </span>
                            </p>
                            <p class="mt-2 address">
                                <i class="fas fa-map-marked-alt text-orange"></i>
                                @item.address
                            </p>
                            <p class="my-2"> مبلغ : @item.price </p>
                        </div>

                    </div>

                </a>

            </div>

        }

    </div>
}
